.pagecrm__main-back {
    width: 100%;
    height: 100%;
    background-image: url(../../../images/background_mainpage.svg);
    background-position: left bottom 76px;
    background-repeat:no-repeat;
    background-size: contain;
    z-index: 10;
}

@media screen and (min-width: 450px) {
    .pagecrm__main-back {
        background-image: url(../../../images/images/background_mainpage.svg);
        background-position: left bottom 30px;
    }
}

@media screen and (min-width: 520px) {
    .pagecrm__main-back {
        background-image: url(../../../images/background_mainpage_desctop.svg);
        background-position: left bottom;
    }
}

@media screen and (min-width: 980px) {
    .pagecrm__main-back {
        background-position: left bottom;
        background-size: cover;
    }
}

@media screen and (min-width: 1300px) {
    .pagecrm__main-back {
        background-size: contain;
        background-position: left bottom 148px;
    }
}